<html>
	<body>
		
		<form action="insert" method="post">
			<div>
				<label>Title</label>
				<input type="text" placeholder="Title" id="title" name="title">
			</div>
			<div>
				<label>Description</label>
				<input type="text" placeholder="Description" id="description" name="description">
			</div>
			<div>
				<label>Order</label>
				<input type="text" placeholder="Order" id="order" name="order">
			</div>
			<div>
				<button type="submit">Gravar</button>
			</div>
		</form>
	</body>
</html>